In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.random_forest import RandomForest

model = RandomForest()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43928 entries, 0 to 43927
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 43928 non-null  object
 1   date                 43928 non-null  int64
 2   color_and_value      43928 non-null  object
 3   name_code            43928 non-null  int64
 4   date_code            43928 non-null  int64
 5   day_of_year          43928 non-null  int64
 6   value                43928 non-null  float64
 7   color                43928 non-null  object
 8   color_code           43928 non-null  int64
 9   next_color_code      43792 non-null  float64
 10  previous_color_code  43792 non-null  float64
 11  color_binary         43928 non-null  int64
 12  next_color_binary    43792 non-null  float64
dtypes: float64(4), int64(6), object(3)
memory usage: 4.4+ MB
None

,NAME,date,color_and_value,name_code,date_code,day_of_year,value,color,color_code,next_color_code,previous_color_code,color_binary,next_color_binary
0,GJ1,1735344000000000000,19.1379 | FFFF00,1,0,363,19.13790,FFFF00,0,2.0,NaN,0,0.0
1,GJ2,1735344000000000000,44.45609 | FFFF00,2,0,363,44.45609,FFFF00,0,3.0,NaN,0,1.0
2,GJ3,1735344000000000000,65.52176 | A9D08E,3,0,363,65.52176,A9D08E,1,1.0,NaN,0,0.0
3,GJ4,1735344000000000000,28.03879 | FFFF00,4,0,363,28.03879,FFFF00,0,1.0,NaN,0,0.0
4,GJ5,1735344000000000000,12.66648 | 9BC2E6,5,0,363,12.66648,9BC2E6,2,2.0,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43923,GJ132,1713484800100000000,19.66042 | FFC000,132,322,110,19.66042,FFC000,3,NaN,3.0,1,NaN
43924,GJ133,1713484800100000000,-9.61867 | A9D08E,133,322,110,-9.61867,A9D08E,1,NaN,1.0,0,NaN
43925,GJ134,1713484800100000000,24.65864 | 8EA9DB,134,322,110,24.65864,8EA9DB,6,NaN,3.0,0,NaN
43926,GJ135,1713484800100000000,29.89178 | FFFF00,135,322,110,29.89178,FFFF00,0,NaN,6.0,0,NaN
43927,GJ136,1713484800100000000,45.71363 | FFC000,136,322,110,45.71363,FFC000,3,NaN,3.0,1,NaN

In [2]:
coded_df['color'].factorize()

(array([0, 0, 1, ..., 6, 0, 3]),
 Index(['FFFF00', 'A9D08E', '9BC2E6', 'FFC000', 'D5A6BD', 'FF0000', '8EA9DB'], dtype='object'))

In [3]:
model.last_df

      NAME 2024-04-19 00:00:00.1
0      GJ1     15.82305 | FFC000
1      GJ2     13.98692 | D5A6BD
2      GJ3     17.93017 | 8EA9DB
3      GJ4     1.159096 | FFC000
4      GJ5     19.73149 | 8EA9DB
..     ...                   ...
131  GJ132     19.66042 | FFC000
132  GJ133     -9.61867 | A9D08E
133  GJ134     24.65864 | 8EA9DB
134  GJ135     29.89178 | FFFF00
135  GJ136     45.71363 | FFC000

[136 rows x 2 columns]

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y = model.train_test_split(coded_df)


X.shape, y.shape

((43656, 4), (43656,))

In [6]:
# from tpot import TPOTClassifier
# from sklearn.model_selection import train_test_split

# # Split the dataset into training and test sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# # Create an instance of TPOTClassifier
# model = TPOTClassifier(generations=5, population_size=50, verbosity=2, random_state=42)

# # Train the classifier using the training data
# model.fit(X_train, y_train)

# # After the fit function, the best pipeline is stored in self.model.fitted_pipeline_
# print(model.fitted_pipeline_)

# # Evaluate the final model on the test data
# print(model.score(X_test, y_test))

TPOT closed during evaluation in one generation.
WARNING: TPOT may not provide a good pipeline if TPOT is stopped/interrupted in a early generation.


TPOT closed prematurely. Will use the current best pipeline.

Best pipeline: BernoulliNB(XGBClassifier(input_matrix, learning_rate=0.5, max_depth=3, min_child_weight=8, n_estimators=100, n_jobs=1, subsample=1.0, verbosity=0), alpha=10.0, fit_prior=False)
Pipeline(steps=[('stackingestimator',
                 StackingEstimator(estimator=XGBClassifier(base_score=None,
                                                           booster=None,
                                                           callbacks=None,
                                                           colsample_bylevel=None,
                                                           colsample_bynode=None,
                                                           colsample_bytree=None,
                                                           device=None,
                                                           early_stopping_rounds=None,
                                                           enable_categorical=False,
                                                           eval_metric=None,
                                                           feature_types=None,
                                                           gamma=None,
                                                           grow_policy=None,
                                                           importance_type=None,
                                                           interaction_constraints=None,
                                                           learning_rate=0.5,
                                                           max_bin=None,
                                                           max_cat_threshold=None,
                                                           max_cat_to_onehot=None,
                                                           max_delta_step=None,
                                                           max_depth=3,
                                                           max_leaves=None,
                                                           min_child_weight=8,
                                                           missing=nan,
                                                           monotone_constraints=None,
                                                           multi_strategy=None,
                                                           n_estimators=100,
                                                           n_jobs=1,
                                                           num_parallel_tree=None,
                                                           random_state=42, ...))),
                ('bernoullinb', BernoulliNB(alpha=10.0, fit_prior=False))])
0.7715300045808521

In [7]:
import autokeras as ak
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets, if not already done
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the classifier
clf = ak.StructuredDataClassifier(max_trials=10, overwrite=True)

# Search for the best model.
clf.fit(X_train, y_train, epochs=10)

# Evaluate the best model found by AutoKeras on the test set.
loss, accuracy = clf.evaluate(X_test, y_test)

print('Accuracy:', accuracy)

2024-05-01 20:02:11.488167: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 20:02:11.494726: I external/local_tsl/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-05-01 20:02:11.546984: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-05-01 20:02:12.695154: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

AttributeError: module 'autokeras' has no attribute 'StructuredDataClassifier'