In [1]:
# Import the Pandas library


import sys

sys.path.append('../')

from models.time_series import TimeSeries

model = TimeSeries()
path = "../test_data/new_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 760 non-null    object
 1   date                 760 non-null    datetime64[ns]
 2   color_and_value      760 non-null    object
 3   name_code            760 non-null    int64
 4   day_of_month         760 non-null    int32
 5   day_of_week          760 non-null    int32
 6   date_code            760 non-null    int64
 7   day_of_year          760 non-null    int64
 8   value                760 non-null    float64
 9   color                760 non-null    object
 10  extra                760 non-null    float64
 11  color_code           760 non-null    int64
 12  next_color_code      758 non-null    float64
 13  previous_color_code  758 non-null    float64
 14  color_binary         760 non-null    int64
 15  next_color_binary    758 non-null    float64
 16  color_group          760 non-null    int64
 17  next_color_group     758 non-null    float64
dtypes: datetime64[ns](1), float64(6), int32(2), int64(6), object(3)
memory usage: 101.1+ KB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary,color_group,next_color_group
0,CJ1,2024-12-09 00:00:00.000,0.42857 | FF0000 | 184733,1,9,0,0,344,0.42857,FF0000,184733.0,0,2.0,NaN,1,0.0,1,6.0
1,CJ2,2024-12-09 00:00:00.000,0.0 | FF9900 | 1224919,2,9,0,0,344,0.00000,FF9900,1224919.0,1,3.0,NaN,0,1.0,5,2.0
2,CJ1,2024-12-12 00:00:00.000,0.28571 | D5A6BD | 167139,1,12,3,1,347,0.28571,D5A6BD,167139.0,2,1.0,0.0,0,0.0,6,5.0
3,CJ2,2024-12-12 00:00:00.000,-0.1429 | 00FF00 | 1091707,2,12,3,1,347,-0.14290,00FF00,1091707.0,3,1.0,1.0,1,0.0,2,5.0
4,CJ1,2024-12-13 00:00:00.000,0.28571 | FF9900 | 138497,1,13,4,2,348,0.28571,FF9900,138497.0,1,0.0,2.0,0,1.0,5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,CJ2,2024-05-29 00:00:00.100,11.7143 | FFFF00 | 1117856,2,29,2,377,150,11.71430,FFFF00,1117856.0,4,1.0,0.0,1,0.0,3,5.0
756,CJ1,2024-05-30 00:00:00.100,15.5714 | 00FF00 | 61845,1,30,3,378,151,15.57140,00FF00,61845.0,3,4.0,3.0,1,1.0,2,3.0
757,CJ2,2024-05-30 00:00:00.100,11.5714 | FF9900 | 1280565,2,30,3,378,151,11.57140,FF9900,1280565.0,1,3.0,4.0,0,1.0,5,2.0
758,CJ1,2024-05-31 00:00:00.100,15.5714 | FFFF00 | 58560,1,31,4,379,152,15.57140,FFFF00,58560.0,4,NaN,3.0,1,NaN,3,NaN
759,CJ2,2024-05-31 00:00:00.100,11.4286 | 00FF00 | 1296267,2,31,4,379,152,11.42860,00FF00,1296267.0,3,NaN,1.0,1,NaN,2,NaN

In [2]:



X , y = model.split_data(coded_df)


print(X.shape)
print(y.shape)



y[-10:]

(740, 20, 8)
(740, 7)

array([[0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1.]])

In [ ]:

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)


print(X.shape)

print(y.shape)

In [ ]:
import numpy as np

def create_sequences(X,y, timesteps):
    sequences = []
    labels = []
    for i in range(len(X) - timesteps):
        sequences.append(X[i:i + timesteps])
        labels.append(y[i + timesteps])
    
    X_last = [X[len(X) - timesteps:len(X)]]
    
    return np.array(sequences), np.array(labels), np.array(X_last)


timesteps =20

X , y, X_last = create_sequences(X,y, timesteps)


print(X.shape)
print(y.shape)

print(X_last.shape)

In [ ]:

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2,shuffle=False)

# Normalize the feature data (optional but recommended for neural networks)


print(X.shape)
print(y.shape)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout, BatchNormalization ,Flatten
# Define the input shape for LSTM

input_shape = (timesteps, X.shape[2])

model = Sequential([
    # Flatten the input before feeding into Dense layers
    Flatten(input_shape=input_shape),

    # First dense layer with Batch Normalization and Dropout
    Dense(256, activation='relu'),
    BatchNormalization(),
    Dropout(0.4),  # Dropout for regularization

    # Second dense layer with Batch Normalization and Dropout
    Dense(128, activation='relu'),
    BatchNormalization(),
    Dropout(0.4),  # Dropout for regularization

    # Third dense layer with Batch Normalization and Dropout
    Dense(64, activation='relu'),
    BatchNormalization(),
    Dropout(0.3),  # Dropout for regularization

    # Fourth dense layer with Batch Normalization and Dropout
    Dense(32, activation='relu'),
    BatchNormalization(),
    Dropout(0.3),  # Dropout for regularization

    # Output layer
    Dense(y_test.shape[1], activation='softmax')
])

model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [ ]:
# Train the model
model.fit(X_train, y_train, epochs=60, batch_size=10, verbose=1)

In [ ]:
# Evaluate the model on the test set
loss, accuracy = model.evaluate(X_test, y_test)
print(f'Test Accuracy: {accuracy}')

In [ ]:
# Make predictions
predictions = model.predict(X_test)


print(y_test)
print(predictions)

In [ ]:
import numpy as np

def convert_to_labels(y_labels, arr):
   
    # Convert predictions to class indices
    classes = np.argmax(arr, axis=1)
    
    labels =   [y_labels[i] for i in classes]
    
    return labels


predictions_labels = convert_to_labels(y_labels , predictions)
y_test_labels = convert_to_labels(y_labels, y_test)

print("all prediction")
print(y_test_labels)
print(predictions_labels)

In [ ]:
def make_pair(arr):
    if len(arr) % 2 == 0:
        arr = arr
    else:
        arr = arr[1:] 
    return arr

pr = make_pair(predictions_labels)
real = make_pair(y_test_labels)


pr_cj = []
real_cj = []

for i in range(len(pr)):
    if i % 2 != 0:
        pr_cj.append(pr[i])
        real_cj.append(real[i])


print("cj2")
print(real_cj)
print(pr_cj)

In [ ]:

def calculate_accuracy(arr1, arr2):
    gr1 = [2,3, 1]
    gr2 = [4,5,6]
    if len(arr1) != len(arr2):
        raise ValueError("Arrays must have the same length")
    
    arr1 = list(map(int, arr1))
    arr2 = list(map(int, arr2))
    
    correct_predictions = sum((a in gr1 and b in  gr1) or (a in gr2 and b in  gr2) for a, b in zip(arr1, arr2))
    accuracy = correct_predictions / len(arr1)
    return accuracy



print("acc = ", calculate_accuracy(y_test_labels, predictions_labels))

In [ ]:


print(X_last.shape)

predictions_last = model.predict([X_last])
print(convert_to_labels(y_labels,  predictions_last))