In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.random_forest import RandomForest

model = RandomForest()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42568 entries, 0 to 42567
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   NAME               42568 non-null  object
 1   date               42568 non-null  int64
 2   color_and_value    42568 non-null  object
 3   date_code          42568 non-null  int64
 4   day_of_year        42568 non-null  int64
 5   name_code          42568 non-null  int64
 6   value              42568 non-null  float64
 7   color              42568 non-null  object
 8   color_code         42568 non-null  int64
 9   color_binary       42568 non-null  int64
 10  next_color_binary  42432 non-null  float64
 11  next_color_code    42432 non-null  float64
dtypes: float64(3), int64(6), object(3)
memory usage: 3.9+ MB
None

,NAME,date,color_and_value,date_code,day_of_year,name_code,value,color,color_code,color_binary,next_color_binary,next_color_code
0,GJ1,1735257600000000000,28.26107 | A9D08E,0,362,1,28.26107,A9D08E,0,0,0.0,3.0
1,GJ2,1735257600000000000,47.95346 | A9D08E,0,362,2,47.95346,A9D08E,0,0,0.0,3.0
2,GJ3,1735257600000000000,78.28529 | 9BC2E6,0,362,3,78.28529,9BC2E6,1,0,0.0,0.0
3,GJ4,1735257600000000000,47.75716 | A9D08E,0,362,4,47.75716,A9D08E,0,0,0.0,3.0
4,GJ5,1735257600000000000,16.25788 | A9D08E,0,362,5,16.25788,A9D08E,0,0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
42563,GJ132,1712016000000000000,20.72867 | 8EA9DB,312,93,132,20.72867,8EA9DB,6,0,NaN,NaN
42564,GJ133,1712016000000000000,-4.52074 | FFFF00,312,93,133,-4.52074,FFFF00,3,0,NaN,NaN
42565,GJ134,1712016000000000000,-0.69178 | A9D08E,312,93,134,-0.69178,A9D08E,0,0,NaN,NaN
42566,GJ135,1712016000000000000,-2.08847 | 8EA9DB,312,93,135,-2.08847,8EA9DB,6,0,NaN,NaN
42567,GJ136,1712016000000000000,11.7373 | A9D08E,312,93,136,11.73730,A9D08E,0,0,NaN,NaN

In [2]:
coded_df['color'].factorize()

(array([0, 0, 1, ..., 0, 6, 0]),
 Index(['A9D08E', '9BC2E6', 'FFC000', 'FFFF00', 'D5A6BD', 'FF0000', '8EA9DB'], dtype='object'))

In [3]:
model.last_df

      NAME 2024-04-02 00:00:00
0      GJ1    -9.5169 | FFFF00
1      GJ2   -28.6817 | FFFF00
2      GJ3   -13.3021 | FFFF00
3      GJ4   5.804437 | 8EA9DB
4      GJ5   37.11767 | FFFF00
..     ...                 ...
131  GJ132   20.72867 | 8EA9DB
132  GJ133   -4.52074 | FFFF00
133  GJ134   -0.69178 | A9D08E
134  GJ135   -2.08847 | 8EA9DB
135  GJ136    11.7373 | A9D08E

[136 rows x 2 columns]

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y = model.train_test_split(coded_df)


X.shape, y.shape

((42432, 4), (42432,))

In [5]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

mse : 0.24460940261576528
accuracy: 0.7553905973842348
preferred_accuracy: 0.5294117647058824

In [6]:

df = model.predict_last()
df

      NAME 2024-04-02 00:00:00    color_and_value  next_color_code
0      GJ1    -9.5169 | FFFF00   -9.5169 | FFFF00              0.0
1      GJ2   -28.6817 | FFFF00  -28.6817 | FFFF00              0.0
2      GJ3   -13.3021 | FFFF00  -13.3021 | FFFF00              0.0
3      GJ4   5.804437 | 8EA9DB  5.804437 | 8EA9DB              0.0
4      GJ5   37.11767 | FFFF00  37.11767 | FFFF00              0.0
..     ...                 ...                ...              ...
131  GJ132   20.72867 | 8EA9DB  20.72867 | 8EA9DB              1.0
132  GJ133   -4.52074 | FFFF00  -4.52074 | FFFF00              0.0
133  GJ134   -0.69178 | A9D08E  -0.69178 | A9D08E              0.0
134  GJ135   -2.08847 | 8EA9DB  -2.08847 | 8EA9DB              0.0
135  GJ136    11.7373 | A9D08E   11.7373 | A9D08E              1.0

[136 rows x 4 columns]

In [7]:

print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]

(35, 4)

      NAME 2024-04-02 00:00:00    color_and_value  next_color_code
5      GJ6   -8.62972 | A9D08E  -8.62972 | A9D08E              1.0
9     GJ10   12.93649 | A9D08E  12.93649 | A9D08E              1.0
11    GJ12   14.48123 | FFC000  14.48123 | FFC000              1.0
12    GJ13   10.22597 | FFFF00  10.22597 | FFFF00              1.0
17    GJ18   35.49564 | A9D08E  35.49564 | A9D08E              1.0
18    GJ19   11.23263 | A9D08E  11.23263 | A9D08E              1.0
21    GJ22   -2.49919 | A9D08E  -2.49919 | A9D08E              1.0
23    GJ24   -12.5384 | A9D08E  -12.5384 | A9D08E              1.0
28    GJ29   -21.8408 | A9D08E  -21.8408 | A9D08E              1.0
31    GJ32   31.44689 | FFC000  31.44689 | FFC000              1.0
37    GJ38   9.498692 | A9D08E  9.498692 | A9D08E              1.0
39    GJ40   8.659883 | A9D08E  8.659883 | A9D08E              1.0
42    GJ43   16.40551 | A9D08E  16.40551 | A9D08E              1.0
44    GJ45   20.34108 | A9D08E  20.34108 | A9D08E              1.0
47    GJ48   -9.93547 | A9D08E  -9.93547 | A9D08E              1.0
48    GJ49    28.9863 | A9D08E   28.9863 | A9D08E              1.0
49    GJ50    16.2339 | FFC000   16.2339 | FFC000              1.0
51    GJ52   -25.9404 | FFFF00  -25.9404 | FFFF00              1.0
54    GJ55   13.71499 | A9D08E  13.71499 | A9D08E              1.0
71    GJ72    38.5725 | FFC000   38.5725 | FFC000              1.0
82    GJ83   -25.9239 | FFFF00  -25.9239 | FFFF00              1.0
87    GJ88   20.34112 | FFC000  20.34112 | FFC000              1.0
94    GJ95   41.42835 | 8EA9DB  41.42835 | 8EA9DB              1.0
96    GJ97   -26.0405 | A9D08E  -26.0405 | A9D08E              1.0
103  GJ104   28.08737 | 8EA9DB  28.08737 | 8EA9DB              1.0
104  GJ105   29.81184 | FFC000  29.81184 | FFC000              1.0
106  GJ107   8.810564 | FFC000  8.810564 | FFC000              1.0
107  GJ108   48.02934 | FFC000  48.02934 | FFC000              1.0
110  GJ111   55.39585 | A9D08E  55.39585 | A9D08E              1.0
112  GJ113    29.1288 | FFC000   29.1288 | FFC000              1.0
121  GJ122   26.87511 | A9D08E  26.87511 | A9D08E              1.0
128  GJ129   18.61245 | A9D08E  18.61245 | A9D08E              1.0
130  GJ131   34.03766 | FFC000  34.03766 | FFC000              1.0
131  GJ132   20.72867 | 8EA9DB  20.72867 | 8EA9DB              1.0
135  GJ136    11.7373 | A9D08E   11.7373 | A9D08E              1.0