In [1]:
# Import the Pandas library

import openpyxl
import io
import tempfile
import pandas as pd
import numpy as np
import sys

sys.path.append('../')

from models.random_forest import RandomForest

model = RandomForest()
path = "../.test_data/more_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42976 entries, 0 to 42975
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 42976 non-null  object
 1   date                 42976 non-null  int64
 2   color_and_value      42976 non-null  object
 3   name_code            42976 non-null  int64
 4   date_code            42976 non-null  int64
 5   day_of_year          42976 non-null  int64
 6   value                42976 non-null  float64
 7   color                42976 non-null  object
 8   color_code           42976 non-null  int64
 9   next_color_code      42840 non-null  float64
 10  previous_color_code  42840 non-null  float64
 11  color_binary         42976 non-null  int64
 12  next_color_binary    42840 non-null  float64
dtypes: float64(4), int64(6), object(3)
memory usage: 4.3+ MB
None

,NAME,date,color_and_value,name_code,date_code,day_of_year,value,color,color_code,next_color_code,previous_color_code,color_binary,next_color_binary
0,GJ1,1735257600000000000,28.26107 | A9D08E,1,0,362,28.26107,A9D08E,0,3.0,NaN,0,0.0
1,GJ2,1735257600000000000,47.95346 | A9D08E,2,0,362,47.95346,A9D08E,0,3.0,NaN,0,0.0
2,GJ3,1735257600000000000,78.28529 | 9BC2E6,3,0,362,78.28529,9BC2E6,1,0.0,NaN,0,0.0
3,GJ4,1735257600000000000,47.75716 | A9D08E,4,0,362,47.75716,A9D08E,0,3.0,NaN,0,0.0
4,GJ5,1735257600000000000,16.25788 | A9D08E,5,0,362,16.25788,A9D08E,0,1.0,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
42971,GJ132,1712275200100000000,12.5186 | 8EA9DB,132,315,96,12.51860,8EA9DB,6,NaN,3.0,0,NaN
42972,GJ133,1712275200100000000,-11.6594 | 8EA9DB,133,315,96,-11.65940,8EA9DB,6,NaN,0.0,0,NaN
42973,GJ134,1712275200100000000,-23.1262 | A9D08E,134,315,96,-23.12620,A9D08E,0,NaN,6.0,0,NaN
42974,GJ135,1712275200100000000,38.10353 | 8EA9DB,135,315,96,38.10353,8EA9DB,6,NaN,2.0,0,NaN
42975,GJ136,1712275200100000000,15.65096 | A9D08E,136,315,96,15.65096,A9D08E,0,NaN,2.0,0,NaN

In [2]:
coded_df['color'].factorize()

(array([0, 0, 1, ..., 0, 6, 0]),
 Index(['A9D08E', '9BC2E6', 'FFC000', 'FFFF00', 'D5A6BD', 'FF0000', '8EA9DB'], dtype='object'))

In [3]:
model.last_df

      NAME 2024-04-05 00:00:00.1
0      GJ1     -6.27472 | FFFF00
1      GJ2     -5.58842 | 8EA9DB
2      GJ3      -12.205 | A9D08E
3      GJ4     4.929555 | A9D08E
4      GJ5     19.63485 | A9D08E
..     ...                   ...
131  GJ132      12.5186 | 8EA9DB
132  GJ133     -11.6594 | 8EA9DB
133  GJ134     -23.1262 | A9D08E
134  GJ135     38.10353 | 8EA9DB
135  GJ136     15.65096 | A9D08E

[136 rows x 2 columns]

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y = model.train_test_split(coded_df)


X.shape, y.shape

((42704, 4), (42704,))

In [5]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

mse : 0.253366116379815
accuracy: 0.746633883620185
preferred_accuracy: 0.4969843184559711
predictions_count: 829   in 2159
real prob: 0.250255956813105

In [6]:

df = model.predict_last()
df

      NAME 2024-04-05 00:00:00.1    color_and_value  next_color_code
0      GJ1     -6.27472 | FFFF00  -6.27472 | FFFF00              0.0
1      GJ2     -5.58842 | 8EA9DB  -5.58842 | 8EA9DB              0.0
2      GJ3      -12.205 | A9D08E   -12.205 | A9D08E              0.0
3      GJ4     4.929555 | A9D08E  4.929555 | A9D08E              0.0
4      GJ5     19.63485 | A9D08E  19.63485 | A9D08E              0.0
..     ...                   ...                ...              ...
131  GJ132      12.5186 | 8EA9DB   12.5186 | 8EA9DB              0.0
132  GJ133     -11.6594 | 8EA9DB  -11.6594 | 8EA9DB              0.0
133  GJ134     -23.1262 | A9D08E  -23.1262 | A9D08E              0.0
134  GJ135     38.10353 | 8EA9DB  38.10353 | 8EA9DB              1.0
135  GJ136     15.65096 | A9D08E  15.65096 | A9D08E              0.0

[136 rows x 4 columns]

In [7]:

print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]

(26, 4)

      NAME 2024-04-05 00:00:00.1    color_and_value  next_color_code
12    GJ13      -14.047 | FFFF00   -14.047 | FFFF00              1.0
14    GJ15     -8.17572 | FFFF00  -8.17572 | FFFF00              1.0
23    GJ24     -5.68071 | FFFF00  -5.68071 | FFFF00              1.0
27    GJ28     -20.8619 | FFFF00  -20.8619 | FFFF00              1.0
38    GJ39     -3.16525 | A9D08E  -3.16525 | A9D08E              1.0
44    GJ45     -3.08089 | FFFF00  -3.08089 | FFFF00              1.0
47    GJ48     -3.98839 | FFFF00  -3.98839 | FFFF00              1.0
51    GJ52     -21.9006 | FFFF00  -21.9006 | FFFF00              1.0
86    GJ87     -2.34676 | FFFF00  -2.34676 | FFFF00              1.0
95    GJ96     25.25701 | FFFF00  25.25701 | FFFF00              1.0
102  GJ103     25.44914 | FFC000  25.44914 | FFC000              1.0
103  GJ104     40.98431 | FFC000  40.98431 | FFC000              1.0
104  GJ105     31.82959 | FFC000  31.82959 | FFC000              1.0
107  GJ108     33.13877 | 8EA9DB  33.13877 | 8EA9DB              1.0
108  GJ109     2.049862 | FFFF00  2.049862 | FFFF00              1.0
111  GJ112      -1.8103 | A9D08E   -1.8103 | A9D08E              1.0
113  GJ114     -4.21285 | A9D08E  -4.21285 | A9D08E              1.0
114  GJ115     27.55905 | D5A6BD  27.55905 | D5A6BD              1.0
116  GJ117     25.58885 | A9D08E  25.58885 | A9D08E              1.0
120  GJ121     30.24523 | D5A6BD  30.24523 | D5A6BD              1.0
122  GJ123     -3.85626 | 8EA9DB  -3.85626 | 8EA9DB              1.0
126  GJ127     36.27634 | FFC000  36.27634 | FFC000              1.0
127  GJ128     -1.73249 | 8EA9DB  -1.73249 | 8EA9DB              1.0
128  GJ129     28.20359 | FFC000  28.20359 | FFC000              1.0
129  GJ130     34.19225 | A9D08E  34.19225 | A9D08E              1.0
134  GJ135     38.10353 | 8EA9DB  38.10353 | 8EA9DB              1.0