In [1]:
# Import the Pandas library


import sys

sys.path.append('../')

from models.tensorflow_model import TensorFlowModel

model = TensorFlowModel()
path = "../test_data/new_data.xlsx"

coded_df = model.process_excel(path)


print(coded_df.info())
coded_df

2024-08-08 22:22:22.114778: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-08 22:22:22.210352: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2024-08-08 22:22:22.211866: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-08-08 22:22:22.999146: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

((2, 381), (2, 381))
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 760 non-null    object
 1   date                 760 non-null    int64
 2   color_and_value      760 non-null    object
 3   name_code            760 non-null    int64
 4   day_of_month         760 non-null    int32
 5   day_of_week          760 non-null    int32
 6   date_code            760 non-null    int64
 7   day_of_year          760 non-null    int64
 8   value                760 non-null    float64
 9   color                760 non-null    object
 10  extra                760 non-null    float64
 11  color_code           760 non-null    int64
 12  next_color_code      758 non-null    float64
 13  previous_color_code  758 non-null    float64
 14  color_binary         760 non-null    int64
 15  next_color_binary    758 non-null    float64
 16  color_group          760 non-null    int64
 17  next_color_group     758 non-null    float64
dtypes: float64(6), int32(2), int64(7), object(3)
memory usage: 101.1+ KB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary,color_group,next_color_group
0,CJ1,1733702400000000000,0.42857 | FF0000 | 184733,1,9,0,0,344,0.42857,FF0000,184733.0,0,2.0,NaN,1,0.0,3,2.0
1,CJ2,1733702400000000000,0.0 | FF9900 | 1224919,2,9,0,0,344,0.00000,FF9900,1224919.0,1,3.0,NaN,0,1.0,2,1.0
2,CJ1,1733961600000000000,0.28571 | D5A6BD | 167139,1,12,3,1,347,0.28571,D5A6BD,167139.0,2,1.0,0.0,0,0.0,2,2.0
3,CJ2,1733961600000000000,-0.1429 | 00FF00 | 1091707,2,12,3,1,347,-0.14290,00FF00,1091707.0,3,1.0,1.0,1,0.0,1,2.0
4,CJ1,1734048000000000000,0.28571 | FF9900 | 138497,1,13,4,2,348,0.28571,FF9900,138497.0,1,0.0,2.0,0,1.0,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,CJ2,1716940800100000000,11.7143 | FFFF00 | 1117856,2,29,2,377,150,11.71430,FFFF00,1117856.0,4,1.0,0.0,1,0.0,1,2.0
756,CJ1,1717027200100000000,15.5714 | 00FF00 | 61845,1,30,3,378,151,15.57140,00FF00,61845.0,3,4.0,3.0,1,1.0,1,1.0
757,CJ2,1717027200100000000,11.5714 | FF9900 | 1280565,2,30,3,378,151,11.57140,FF9900,1280565.0,1,3.0,4.0,0,1.0,2,1.0
758,CJ1,1717113600100000000,15.5714 | FFFF00 | 58560,1,31,4,379,152,15.57140,FFFF00,58560.0,4,NaN,3.0,1,NaN,1,NaN
759,CJ2,1717113600100000000,11.4286 | 00FF00 | 1296267,2,31,4,379,152,11.42860,00FF00,1296267.0,3,NaN,1.0,1,NaN,1,NaN

In [2]:
coded_df[['name_code', 'color_group','next_color_group' ]]

     name_code  color_group  next_color_group
0            1            3               2.0
1            2            2               1.0
2            1            2               2.0
3            2            1               2.0
4            1            2               3.0
..         ...          ...               ...
755          2            1               2.0
756          1            1               1.0
757          2            2               1.0
758          1            1               NaN
759          2            1               NaN

[760 rows x 3 columns]

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



# Splitting the dataset into the Training set and Test set
X, y= model.train_test_split(coded_df)

X.shape , y.shape

((756, 8), (756,))

In [4]:

model.fit(X, y)

print(f'mse : {model.mse}' )
print(f'accuracy: {model.accuracy}' )
print(f'preferred_accuracy: {model.preferred_accuracy}' )

print(f'predictions_count: {model.predictions_count}   in {model.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

Epoch 1/30
19/19 [==============================] - 1s 6ms/step - loss: 0.6831 - accuracy: 0.5530
Epoch 2/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6819 - accuracy: 0.5745
Epoch 3/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6779 - accuracy: 0.5844
Epoch 4/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6807 - accuracy: 0.6209
Epoch 5/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6833 - accuracy: 0.5977
Epoch 6/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6696 - accuracy: 0.5977
Epoch 7/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6747 - accuracy: 0.6126
Epoch 8/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6780 - accuracy: 0.6192
Epoch 9/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6819 - accuracy: 0.6142
Epoch 10/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6742 - accuracy: 0.6126
Epoch 11/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6702 - accuracy: 0.6109
Epoch 12/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6682 - accuracy: 0.6175
Epoch 13/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6632 - accuracy: 0.6192
Epoch 14/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6733 - accuracy: 0.6175
Epoch 15/30
19/19 [==============================] - 0s 5ms/step - loss: 0.6772 - accuracy: 0.6192
Epoch 16/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6602 - accuracy: 0.6192
Epoch 17/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6736 - accuracy: 0.6159
Epoch 18/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6735 - accuracy: 0.6159
Epoch 19/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6664 - accuracy: 0.6159
Epoch 20/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6647 - accuracy: 0.6225
Epoch 21/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6671 - accuracy: 0.6093
Epoch 22/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6678 - accuracy: 0.6159
Epoch 23/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6674 - accuracy: 0.6142
Epoch 24/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.6142
Epoch 25/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6645 - accuracy: 0.6175
Epoch 26/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6579 - accuracy: 0.6209
Epoch 27/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6648 - accuracy: 0.6109
Epoch 28/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6663 - accuracy: 0.6209
Epoch 29/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6640 - accuracy: 0.6175
Epoch 30/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.6142
5/5 [==============================] - 0s 2ms/step
Epoch 1/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6364 - accuracy: 0.6974
Epoch 2/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6242 - accuracy: 0.6908
Epoch 3/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6414 - accuracy: 0.6711
Epoch 4/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6249 - accuracy: 0.6908
Epoch 5/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6219 - accuracy: 0.6908
Epoch 6/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6169 - accuracy: 0.6908
Epoch 7/30
5/5 [==============================] - 0s 4ms/step - loss: 0.5976 - accuracy: 0.6908
Epoch 8/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6175 - accuracy: 0.6908
Epoch 9/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6166 - accuracy: 0.6908
Epoch 10/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6219 - accuracy: 0.6908
Epoch 11/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6107 - accuracy: 0.6908
Epoch 12/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6227 - accuracy: 0.6908
Epoch 13/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6222 - accuracy: 0.6908
Epoch 14/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6161 - accuracy: 0.6908
Epoch 15/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6115 - accuracy: 0.6908
Epoch 16/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6043 - accuracy: 0.6908
Epoch 17/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6216 - accuracy: 0.6908
Epoch 18/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6179 - accuracy: 0.6908
Epoch 19/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6123 - accuracy: 0.6908
Epoch 20/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6090 - accuracy: 0.6908
Epoch 21/30
5/5 [==============================] - 0s 3ms/step - loss: 0.5920 - accuracy: 0.6908
Epoch 22/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6305 - accuracy: 0.6908
Epoch 23/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6249 - accuracy: 0.6908
Epoch 24/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6084 - accuracy: 0.6908
Epoch 25/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6100 - accuracy: 0.6908
Epoch 26/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6091 - accuracy: 0.6908
Epoch 27/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6201 - accuracy: 0.6908
Epoch 28/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6225 - accuracy: 0.6908
Epoch 29/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6083 - accuracy: 0.6908
Epoch 30/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6032 - accuracy: 0.6908
mse : 0.5197368421052632
accuracy: 0.48026315789473684
preferred_accuracy: 0.8421052631578947
predictions_count: 38   in 105
real prob: 0.6302631578947369

In [5]:

df =model.predict_last()
df

1/1 [==============================] - 0s 18ms/step

,NAME,2024-05-31 00:00:00.1,color_and_value,next_color_code
0,CJ1,15.5714 | FFFF00 | 58560,15.5714 | FFFF00 | 58560,0.644912
1,CJ2,11.4286 | 00FF00 | 1296267,11.4286 | 00FF00 | 1296267,0.614766

In [6]:
print(df[(df['next_color_code'] != 0)  ].shape)
df[(df['next_color_code'] != 0) ]
df.sort_values(by='next_color_code', ascending=False)[:40]

(2, 4)

,NAME,2024-05-31 00:00:00.1,color_and_value,next_color_code
0,CJ1,15.5714 | FFFF00 | 58560,15.5714 | FFFF00 | 58560,0.644912
1,CJ2,11.4286 | 00FF00 | 1296267,11.4286 | 00FF00 | 1296267,0.614766

In [7]:
model.save()

/home/adil/miniconda3/envs/sphere-predictor-cj/lib/python3.8/site-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [8]:
tf = TensorFlowModel()

In [9]:
tf.load()

In [10]:
coded_tf = tf.process_excel(path)
print(coded_tf.info())
coded_tf

((2, 381), (2, 381))
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 760 entries, 0 to 759
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   NAME                 760 non-null    object
 1   date                 760 non-null    int64
 2   color_and_value      760 non-null    object
 3   name_code            760 non-null    int64
 4   day_of_month         760 non-null    int32
 5   day_of_week          760 non-null    int32
 6   date_code            760 non-null    int64
 7   day_of_year          760 non-null    int64
 8   value                760 non-null    float64
 9   color                760 non-null    object
 10  extra                760 non-null    float64
 11  color_code           760 non-null    int64
 12  next_color_code      758 non-null    float64
 13  previous_color_code  758 non-null    float64
 14  color_binary         760 non-null    int64
 15  next_color_binary    758 non-null    float64
 16  color_group          760 non-null    int64
 17  next_color_group     758 non-null    float64
dtypes: float64(6), int32(2), int64(7), object(3)
memory usage: 101.1+ KB
None

,NAME,date,color_and_value,name_code,day_of_month,day_of_week,date_code,day_of_year,value,color,extra,color_code,next_color_code,previous_color_code,color_binary,next_color_binary,color_group,next_color_group
0,CJ1,1733702400000000000,0.42857 | FF0000 | 184733,1,9,0,0,344,0.42857,FF0000,184733.0,0,2.0,NaN,1,0.0,3,2.0
1,CJ2,1733702400000000000,0.0 | FF9900 | 1224919,2,9,0,0,344,0.00000,FF9900,1224919.0,1,3.0,NaN,0,1.0,2,1.0
2,CJ1,1733961600000000000,0.28571 | D5A6BD | 167139,1,12,3,1,347,0.28571,D5A6BD,167139.0,2,1.0,0.0,0,0.0,2,2.0
3,CJ2,1733961600000000000,-0.1429 | 00FF00 | 1091707,2,12,3,1,347,-0.14290,00FF00,1091707.0,3,1.0,1.0,1,0.0,1,2.0
4,CJ1,1734048000000000000,0.28571 | FF9900 | 138497,1,13,4,2,348,0.28571,FF9900,138497.0,1,0.0,2.0,0,1.0,2,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,CJ2,1716940800100000000,11.7143 | FFFF00 | 1117856,2,29,2,377,150,11.71430,FFFF00,1117856.0,4,1.0,0.0,1,0.0,1,2.0
756,CJ1,1717027200100000000,15.5714 | 00FF00 | 61845,1,30,3,378,151,15.57140,00FF00,61845.0,3,4.0,3.0,1,1.0,1,1.0
757,CJ2,1717027200100000000,11.5714 | FF9900 | 1280565,2,30,3,378,151,11.57140,FF9900,1280565.0,1,3.0,4.0,0,1.0,2,1.0
758,CJ1,1717113600100000000,15.5714 | FFFF00 | 58560,1,31,4,379,152,15.57140,FFFF00,58560.0,4,NaN,3.0,1,NaN,1,NaN
759,CJ2,1717113600100000000,11.4286 | 00FF00 | 1296267,2,31,4,379,152,11.42860,00FF00,1296267.0,3,NaN,1.0,1,NaN,1,NaN

In [11]:
# Splitting the dataset into the Training set and Test set
X, y= tf.train_test_split(coded_df)

X.shape , y.shape

((756, 8), (756,))

In [12]:
tf.fit(X, y)

print(f'mse : {tf.mse}' )
print(f'accuracy: {tf.accuracy}' )
print(f'preferred_accuracy: {tf.preferred_accuracy}' )

print(f'predictions_count: {tf.predictions_count}   in {tf.y_test_count}' )


prob = coded_df[coded_df['color_binary'] == 1].shape[0] / coded_df.shape[0]

print(f'real prob: {prob}' )

Epoch 1/30
19/19 [==============================] - 1s 3ms/step - loss: 0.6857 - accuracy: 0.5464
Epoch 2/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6776 - accuracy: 0.5762
Epoch 3/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6743 - accuracy: 0.5993
Epoch 4/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6743 - accuracy: 0.6126
Epoch 5/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6789 - accuracy: 0.6109
Epoch 6/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6692 - accuracy: 0.6109
Epoch 7/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6807 - accuracy: 0.6060
Epoch 8/30
19/19 [==============================] - 0s 4ms/step - loss: 0.6769 - accuracy: 0.6142
Epoch 9/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6714 - accuracy: 0.6126
Epoch 10/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6677 - accuracy: 0.6175
Epoch 11/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6643 - accuracy: 0.6159
Epoch 12/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6734 - accuracy: 0.6159
Epoch 13/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6752 - accuracy: 0.6175
Epoch 14/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6617 - accuracy: 0.6159
Epoch 15/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6676 - accuracy: 0.6159
Epoch 16/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6675 - accuracy: 0.6159
Epoch 17/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6718 - accuracy: 0.6159
Epoch 18/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.6159
Epoch 19/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6719 - accuracy: 0.6175
Epoch 20/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6670 - accuracy: 0.6126
Epoch 21/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6683 - accuracy: 0.6159
Epoch 22/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6702 - accuracy: 0.6159
Epoch 23/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6642 - accuracy: 0.6142
Epoch 24/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6657 - accuracy: 0.6159
Epoch 25/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6649 - accuracy: 0.6142
Epoch 26/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6622 - accuracy: 0.6175
Epoch 27/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6664 - accuracy: 0.6142
Epoch 28/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6665 - accuracy: 0.6159
Epoch 29/30
19/19 [==============================] - 0s 2ms/step - loss: 0.6643 - accuracy: 0.6142
Epoch 30/30
19/19 [==============================] - 0s 3ms/step - loss: 0.6701 - accuracy: 0.6159
5/5 [==============================] - 0s 2ms/step
Epoch 1/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6278 - accuracy: 0.6908
Epoch 2/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6368 - accuracy: 0.6908
Epoch 3/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6214 - accuracy: 0.6908
Epoch 4/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6238 - accuracy: 0.6908
Epoch 5/30
5/5 [==============================] - 0s 4ms/step - loss: 0.6259 - accuracy: 0.6908
Epoch 6/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6260 - accuracy: 0.6908
Epoch 7/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6214 - accuracy: 0.6908
Epoch 8/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6271 - accuracy: 0.6908
Epoch 9/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6378 - accuracy: 0.6908
Epoch 10/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6388 - accuracy: 0.6908
Epoch 11/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6034 - accuracy: 0.6908
Epoch 12/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6048 - accuracy: 0.6908
Epoch 13/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6059 - accuracy: 0.6908
Epoch 14/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6215 - accuracy: 0.6908
Epoch 15/30
5/5 [==============================] - 0s 3ms/step - loss: 0.5920 - accuracy: 0.6908
Epoch 16/30
5/5 [==============================] - 0s 3ms/step - loss: 0.5985 - accuracy: 0.6908
Epoch 17/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6148 - accuracy: 0.6908
Epoch 18/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6330 - accuracy: 0.6908
Epoch 19/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6053 - accuracy: 0.6908
Epoch 20/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6057 - accuracy: 0.6908
Epoch 21/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6082 - accuracy: 0.6908
Epoch 22/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6099 - accuracy: 0.6908
Epoch 23/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6065 - accuracy: 0.6908
Epoch 24/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6053 - accuracy: 0.6908
Epoch 25/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6192 - accuracy: 0.6908
Epoch 26/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6070 - accuracy: 0.6908
Epoch 27/30
5/5 [==============================] - 0s 2ms/step - loss: 0.5948 - accuracy: 0.6908
Epoch 28/30
5/5 [==============================] - 0s 3ms/step - loss: 0.6216 - accuracy: 0.6908
Epoch 29/30
5/5 [==============================] - 0s 3ms/step - loss: 0.5739 - accuracy: 0.6908
Epoch 30/30
5/5 [==============================] - 0s 3ms/step - loss: 0.5921 - accuracy: 0.6908
mse : 0.5657894736842105
accuracy: 0.4342105263157895
preferred_accuracy: 0.7878787878787878
predictions_count: 33   in 105
real prob: 0.6302631578947369

In [13]:

df =tf.predict_last()
df

1/1 [==============================] - 0s 19ms/step

,NAME,2024-05-31 00:00:00.1,color_and_value,next_color_code
0,CJ1,15.5714 | FFFF00 | 58560,15.5714 | FFFF00 | 58560,0.653292
1,CJ2,11.4286 | 00FF00 | 1296267,11.4286 | 00FF00 | 1296267,0.616188